.nav-brand{
    margin-left: 50px;
    font-size: xx-large;
}

.nav-collapse-btn{
    border: 0;
    margin-right: 20px;
}

@media (min-width: var(--small)) and (max-width: #{var(--medium) - 1px}){
    .nav-brand{
        justify-content: center;
    }
}

@media (max-width: #{var(--small) - 1}){
    .nav-brand{
        margin-left: 30px;
    }
}