@import "src/custom.scss";

.contact-form{
    text-align: center;
    padding: 20px;
}

.contact-form-col{
    background-color: var(--light);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 0px;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 5px var(--info);
}

.form-control:focus{
    outline: none;
    box-shadow: 1px 1px 10px var(--info);
    // border-color: var(--secondary);
}

.submit-button {
    background-color: var(--dark);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.submit-button:hover {
    background-color: var(--primary);
}

.reach-me-at {
    background-color: var(--dark);
    color: var(--light);
    padding: 20px;
}

.reach-me-at-item {
    font-size: x-large;
    list-style: none;
    color: var(--info);
}

.reach-me-at-item:hover{
    color: var(--light);
}
