.heading-3{
    width: 100%;
}

.heading-3 h3{
    padding: 20px;
    padding-left: 0px;
    width: auto;
    text-align: left;
    font-family: headingfont;
    text-transform: capitalize;
    font-weight: bolder;
}