.my-footer{
    color: var(--light);
    background-color: var(--dark);
}

.footer-bottom{
    padding: 30px;
    border-top: 2px solid white;
    box-sizing: border-box;
}

// Start with HR above 'Anurag Rawal 2021'
// Complete footer today