.heading-1{
    width: 100%;
}

.heading-1 h1{
    width: 100%;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
    font-family: headingfont;
    text-transform: capitalize;
    font-weight: bolder;
}