.heading-1{
    width: 100%;
}

.heading-1 h1{
    padding: 20px;
    padding-left: 0px;
    width: auto;
    text-align: left;
    text-decoration: underline;
    font-family: headingfont;
    text-transform: capitalize;
    font-weight: bolder;
}