/* Custom fonts, colors, and variables */
@font-face{
    src: url(fonts/mariogalo/mariogalo.ttf);
    font-family: logofont;  
}

@font-face{
    src: url(fonts/ractor/RACTOR.ttf);
    font-family: headfont;
}

:root{
    --primary: #022b3a;
    --info: #BFDBF7;
    --light: #E1E5F2;
    --secondary: #1F7A8C;
}

$theme-colors: (
    "primary": #022b3a,
    "secondary": #1F7A8C,
    "light": #E1E5F2,
    "info": #BFDBF7
    // "transparent": rgba(0, 0, 0, 0)
);


// Import all bootstrap variables
@import "../node_modules/bootstrap/scss/bootstrap.scss"

