/* Custom fonts, colors, and variables */
@font-face{
  src: url(fonts/mariogalo/mariogalo.ttf);
  font-family: logofont;  
}

@font-face{
  src: url(fonts/ractor/RACTOR.ttf);
  font-family: headfont;
}

@font-face{
  src: url(fonts/aileron_0102/Aileron-Light.otf);
  font-family: headingfont;
}




:root{
  // Color variables
  --primary: #960200;
  --info: #91D1CB;
  --light: #FCFAF9;
  --secondary: #D52941;
  --dark: #1C1C1C;

  // Size variables
  --small: 576px;
  --medium: 992px;
  --large: 1440px;
}

$theme-colors: (
  "primary": #960200,
  "secondary": #D52941,
  "light": #FCFAF9,
  "info": #91D1CB,
  "dark": #1C1C1C,
  "transparent": rgba(0, 0, 0, 0)
);

// Variables for media screen
$small: 576px;
$medium: 992px;
$large: 1440px;

// Import all bootstrap variables
@import "~bootstrap/scss/bootstrap.scss";



// About section paragraphs
.para-1{
    width: 100%;
    
}

.para-1 p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    text-align: center;
}

@media (min-width: $medium) and (max-width: #{$large - 1px}){

}





